{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        // "root": ["./src"],
        "extensions": [".js"],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
